{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
<h2>Chat</h2>

<style>
#chat {
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    background: white;
    border-radius: 12px;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    word-wrap: break-word;
}

.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.received {
    align-self: flex-start;
    background-color: #E5E5EA;
}
</style>

<div id="chat">
  {% for msg in messages %}
    <div class="message {% if msg[1] == current_user %}sent{% else %}received{% endif %}">
      <div class="time">
    {{ msg[3] }}
    {% if msg[0] == current_user %}
        {% if msg[4] == 1 %}
            ✔✔
        {% else %}
            ✔
        {% endif %}
    {% endif %}
</div>
    </div>
  {% endfor %}
</div>

<div id="typing"></div>

<input id="msg" placeholder="Type message...">
<button onclick="sendMessage()">Send</button>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
const socket = io();

const user1 = Number("{{ current_user }}");
const user2 = Number("{{ user_id }}");

const room = "chat_" + Math.min(user1, user2) + "_" + Math.max(user1, user2);

socket.emit("join", { room: room });

//Marks messages as seen
socket.emit("mark_seen", {
    sender_id: user2
});

/* SCROLL */
function scrollToBottom() {
    const chat = document.getElementById("chat");
    chat.scrollTop = chat.scrollHeight;
}

/* RECEIVE */
socket.on("receive_message", function(data) {
    const div = document.getElementById("chat");

    const isMe = data.sender_id == user1;

    div.innerHTML += `
        <div class="message ${isMe ? 'sent' : 'received'}">
            ${data.message}
        </div>
    `;

    scrollToBottom();
});

/* SEND */
function sendMessage() {
    const msg = document.getElementById("msg").value;

    socket.emit("send_message", {
        receiver_id: user2,
        message: msg
    });

    socket.emit("stop_typing", { room: room });

    document.getElementById("msg").value = "";
}

/* SCROLL ON LOAD */
window.onload = scrollToBottom;

/* TYPING */
let typingTimeout;

document.getElementById("msg").addEventListener("input", function() {

    socket.emit("typing", { room: room });

    clearTimeout(typingTimeout);

    typingTimeout = setTimeout(() => {
        socket.emit("stop_typing", { room: room });
    }, 1000);
});

socket.on("show_typing", function(data) {
    if (data.user_id != user1) {
        document.getElementById("typing").innerText = "Typing...";
    }
});

socket.on("hide_typing", function() {
    document.getElementById("typing").innerText = "";
});
</script>
{% endblock %}