{% extends "base.html" %}

{% block content %}

<h2>Edit Profile</h2>

<form method="POST" class="card">

    <label>Bio</label>
    <input name="bio" value="{{ user[0] }}">

    <label>Looking For</label>
    <input name="looking_for" value="{{ user[1] }}">

    <label>UTR (1–16.5)</label>
    <input type="number" name="UTR" min="1" max="16.5" value="{{ user[2] }}">

    <label>Location</label>
    <input type="text" name="location" value="{{ user[3] }}">

    <button type="submit">Save</button>

</form>

{% endblock %}