<!DOCTYPE html>
<html>

<!-- sets browser table title-->
<head>
    <title>Swipe App</title>

    <!-- defines how everything looks-->
    {% extends "base.html" %}

{% block title %}PageName{% endblock %}

{% block content %}
</head>

<body>

<!-- MAIN CONTENT -->
{% if no_profiles == True%}

<!-- EMPTY STATE -->
<div class="card">
    <div class="name">No more profiles</div>
    <div class="info">You're all caught up 🎉</div>
</div>

{% else %}

<!-- PROFILE CARD -->
<div class="card">

    <div class="name">
        {{ user.name }}
    </div>

    <div class="info">
        Gender: {{ user.gender }}
    </div>

    <div class="info">
        Bio: {{ user.bio }}
    </div>

    <div class="buttons">

        <form action="/pass" method="POST">
            <input type="hidden" name="passed_user_id" value="{{ user.id }}">
            <button class="pass" type="submit">Pass</button>
        </form>

        <form action="/like" method="POST">
            <input type="hidden" name="liked_user_id" value="{{ user.id }}">
            <button class="like" type="submit">Like</button>
        </form>

    </div>

</div>

{% endif %}

</body>
</html>
{% endblock %}