<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}

{% block title %}PageName{% endblock %}

{% block content %}
    <title>Login</title>
</head>

<body>

    <h1>Login</h1>

    <form method ="post">

        <label>Username:</label><br>
        <!-- required prevents empty submission-->
        <input name="username" placeholder="Enter username" required>
        <!--<br> is a break-->
        <br><br>
        <label>Password:</label><br>
        <input name="password" type="password" placeholder="Enter password" required>
        <br><br>

        <button type="submit">Login</button>
    </form>
    <br>

    <a href ="/signup"> Don't have an account? Create one</a>
</body>
</html>
{% endblock %}