{% extends "base.html" %}

{% block title %}PageName{% endblock %}

{% block content %}
<h1>Your Matches 💥</h1>
<div style="width:90%; max-width:500px; margin:auto;"></div>
{% if matches %}

    {% for match in matches %}
        <div style="border:1px solid #ccc; padding:10px; margin:10px;">

            <!-- Name -->
            <h3>{{ match[1] }}</h3>

            <!-- Bio -->
            <p>{{ match[2] }}</p>

            <!-- Message button -->
            <a href="/chat/{{ match[0] }}">Message</a>

        </div>
    {% endfor %}

{% else %}
    <p>No matches yet.</p>
{% endif %}

<!-- NAVIGATION -->
</div>
</div>
{% endblock %}