<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>

    <h1>Create Account</h1>
    <!-- sends data to /signup using POST-->
    <form method="post">
        <!-- user types in username-->
        <input name="username" placeholder="Username" required>
        <br><br>
        <!-- type hides text as user types and placeholder makes the texgt disapear -->
        <input name="password" type="password" placeholder="Password" required>
        <br><br>
        <button type="submit">Sign Up</button>
    </form>

    <a href="/login">Already have an account? Login</a>

</body>
</html>