<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>

    <h1>Create Account</h1>
    <!-- sends data to /signup using POST-->
    <form method="POST">

    <input type="text" name="name" placeholder="Name">

    <input type="text" name="bio" placeholder="Bio">

    <input type="text" name="username" placeholder="Username">

    <input type="password" name="password" placeholder="Password">

    <button type="submit">Sign Up</button>

</form>

    <a href="/login">Already have an account? Login</a>

</body>
</html>