<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>

    <h1>Create Account</h1>
    <!-- sends data to /signup using POST-->
    <form method="POST">

    <input type="text" name="name" placeholder="Name">

    <input type="text" name="bio" placeholder="Bio">

    <input type="text" name="username" placeholder="Username">

    <input type="password" name="password" placeholder="Password">

      <!-- Gender -->
  <div>
    <label>Gender (optional)</label><br>

    <input type="radio" name="gender" value="Male"> Male<br>
    <input type="radio" name="gender" value="Female"> Female<br>
    <input type="radio" name="gender" value="Other"> Other<br>
    <input type="radio" name="gender" value="Prefer not to say"> Prefer not to say<br>
  </div>

  <br>

  <!-- Looking For -->
  <div>
    <label>What are you looking for?</label><br>

    <input type="checkbox" name="looking_for" value="Competitive Singles">
    Competitive Singles<br>

    <input type="checkbox" name="looking_for" value="Competitive Doubles">
    Competitive Doubles<br>

    <input type="checkbox" name="looking_for" value="Casual Hitting">
    Casual Hitting<br>
  </div>

  <br>


    <button type="submit">Sign Up</button>

</form>

    <a href="/login">Already have an account? Login</a>

</body>
</html>